footer {
  height: 300px;
  width: 100%;
  background: #8A3985;
  text-align: center; }
  footer .copyright {
    width: 100%;
    color: #fff;
    position: relative;
    top: 250px;
    display: inline-block; }
  footer .credit {
    display: block;
    position: relative;
    top: 255px;
    color: #fff;
    padding: 5px; }
    footer .credit .link {
      text-decoration: none;
      color: #543415; }
      footer .credit .link:hover {
        color: #F8F8FF; }
  footer nav {
    padding-top: 30px;
    padding-right: 40px;
    float: right; }
    footer nav ul {
      list-style: none; }
      footer nav ul li {
        padding: 5px; }
        footer nav ul li a {
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase; }
          footer nav ul li a:hover {
            color: #543415; }
  footer .social-media {
    float: right;
    position: relative;
    top: 250px; }
    footer .social-media .fab {
      font-size: 36px;
      color: #F8F8FF;
      position: relative; }
    footer .social-media .fas {
      font-size: 36px;
      color: #F8F8FF; }

header {
  background: #8A3985;
  height: 125px; }
  header nav {
    width: auto;
    height: 100%; }
    header nav .logo {
      position: relative;
      padding: 12px 14px;
      display: inline-block; }
    header nav ul {
      padding: 20px 12px 0px 0px;
      text-transform: uppercase;
      float: right; }
      header nav ul li {
        display: inline-block;
        margin: 20px;
        font-size: 1.3em;
        font-weight: 500; }
        header nav ul li a {
          text-decoration: none;
          color: #F8F8FF; }
          header nav ul li a:hover {
            font-weight: 700; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat"; }

body {
  height: 100%; }

.container {
  height: 100%;
  margin: 10px; }

#showcase {
  height: 400px;
  background: #8A3985;
  box-shadow: 0px 2px 0px #4A0E50; }
  #showcase #help-bites {
    color: #F8F8FF;
    font-size: 60px;
    position: relative;
    top: 180px;
    overflow: hidden;
    margin-left: 40px;
    text-shadow: 2px 3px 5px #4A0E50; }
  #showcase #help-tag {
    color: #F8F8FF;
    position: relative;
    top: 210px;
    margin-left: 50px;
    font-size: 22px;
    text-shadow: 2px 3px 5px #4A0E50; }
  #showcase #help-img {
    border-radius: 50%;
    float: right;
    position: relative;
    bottom: 60px;
    right: 50px;
    height: 80%;
    -webkit-box-shadow: 0 0px 20px 1px #4A0E50;
    -moz-box-shadow: 0 0px 20px 1px #4A0E50;
    box-shadow: 0 0px 20px 1px #4A0E50; }

#hero {
  height: 100%;
  width: 100%; }
  #hero .hero-1 {
    height: 40px;
    background: #4A0E50;
    box-shadow: 0px 2px 0px #4A0E50; }

.title {
  height: 100%;
  background: #F8F8FF; }
  .title h1 {
    color: #4A0E50;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    padding-top: 100px; }
    .title h1 #love {
      color: #800020;
      font-size: 55px; }

.boxes {
  padding: 80px 0 20px 0;
  text-align: center;
  background: #F8F8FF; }
  .boxes .card {
    height: 350px;
    width: 350px;
    background: #fff;
    padding: 0 10px 0 10px;
    overflow: hidden;
    display: inline-block;
    margin: 30px;
    -webkit-box-shadow: 0 0px 20px 1px #4A0E50;
    -moz-box-shadow: 0 0px 20px 1px #4A0E50;
    box-shadow: 0 0px 20px 1px #4A0E50; }
    .boxes .card .circ-decor {
      height: 120px;
      width: 120px;
      background-color: #8A3985;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;
      bottom: 70px;
      padding: 0; }
    .boxes .card h3 {
      color: #4A0E50;
      font-size: 1.8em; }
    .boxes .card .line-break {
      border-bottom: 2px solid #8A3985;
      width: 100px;
      margin: 0 auto;
      padding-top: 25px; }
    .boxes .card .card-text {
      color: #543415;
      font-weight: bold;
      font-size: 1.3em;
      margin-top: 10px;
      padding-bottom: 10px; }

#info {
  height: 100%;
  width: 100%;
  background: #F8F8FF;
  padding: 150px 0 150px 0; }
  #info .original-bite {
    background: #8A3985;
    color: #fff;
    position: relative;
    z-index: 1;
    width: 100%; }
    #info .original-bite:before, #info .original-bite:after {
      content: '';
      background: inherit;
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; }
    #info .original-bite:before {
      top: 0;
      transform: skewY(1.5deg);
      transform-origin: 100% 0; }
    #info .original-bite:after {
      bottom: 0;
      transform: skewY(-1.5deg);
      transform-origin: 100%; }
    #info .original-bite .blur {
      display: flex;
      text-align: center; }
      #info .original-bite .blur h1 {
        padding-top: 40px;
        text-align: center;
        width: 100%;
        font-size: 36px;
        position: relative;
        left: 500px; }
      #info .original-bite .blur p {
        width: 100%;
        padding-top: 20px;
        position: relative;
        left: 80px;
        margin: 0 auto;
        line-height: 1.8em;
        top: 100px; }
      #info .original-bite .blur img {
        border-radius: 50%;
        position: relative;
        right: 800px;
        height: 300px;
        -webkit-box-shadow: 0 0px 20px 1px #4A0E50;
        -moz-box-shadow: 0 0px 20px 1px #4A0E50;
        box-shadow: 0 0px 20px 1px #4A0E50; }
      #info .original-bite .blur .btn-purchase {
        position: relative;
        top: 135px;
        right: 60px;
        outline: none; }
        #info .original-bite .blur .btn-purchase .btn-main {
          background: #F8F8FF;
          color: #8A3985;
          font-size: 22px;
          font-weight: 700;
          border-radius: 5px;
          height: 50px;
          width: 200px;
          cursor: pointer;
          outline: none; }
          #info .original-bite .blur .btn-purchase .btn-main .btn-main:focus {
            outline: none;
            border: none; }
  #info .athletic-bite {
    background: #800020;
    color: #fff;
    position: relative;
    margin-top: 80px;
    z-index: 0;
    width: 100%; }
    #info .athletic-bite:before, #info .athletic-bite:after {
      content: '';
      background: inherit;
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; }
    #info .athletic-bite:before {
      top: 0;
      transform: skewY(-1.5deg);
      transform-origin: 0 100%; }
    #info .athletic-bite:after {
      bottom: 0;
      transform: skewY(1.5deg);
      transform-origin: 0; }
    #info .athletic-bite .blur {
      display: flex;
      text-align: center; }
      #info .athletic-bite .blur h1 {
        padding-top: 40px;
        text-align: center;
        width: 100%;
        font-size: 36px;
        position: relative;
        left: 500px; }
      #info .athletic-bite .blur p {
        width: 100%;
        padding-top: 20px;
        position: relative;
        left: 75px;
        top: 100px;
        margin: 0 auto; }
      #info .athletic-bite .blur img {
        border-radius: 50%;
        position: relative;
        left: 165px;
        height: 300px;
        -webkit-box-shadow: 0 0px 20px 1px #4A0E50;
        -moz-box-shadow: 0 0px 20px 1px #4A0E50;
        box-shadow: 0 0px 20px 1px #4A0E50; }
      #info .athletic-bite .blur .btn-purchase {
        position: relative;
        top: 135px;
        right: 1080px; }
        #info .athletic-bite .blur .btn-purchase .btn-main {
          background: #F8F8FF;
          color: #800020;
          font-size: 22px;
          font-weight: 700;
          border-radius: 5px;
          height: 50px;
          width: 200px;
          cursor: pointer;
          outline: none; }
          #info .athletic-bite .blur .btn-purchase .btn-main .btn-main:focus {
            outline: none;
            border: none; }
  #info .hybrid-bite {
    background: #543415;
    color: #fff;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 80px; }
    #info .hybrid-bite:before, #info .hybrid-bite:after {
      content: '';
      background: inherit;
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; }
    #info .hybrid-bite:before {
      top: 0;
      transform: skewY(1.5deg);
      transform-origin: 100% 0; }
    #info .hybrid-bite:after {
      bottom: 0;
      transform: skewY(-1.5deg);
      transform-origin: 100%; }
    #info .hybrid-bite .blur {
      display: flex;
      text-align: center; }
      #info .hybrid-bite .blur h1 {
        padding-top: 40px;
        text-align: center;
        width: 100%;
        font-size: 36px;
        position: relative;
        left: 500px; }
      #info .hybrid-bite .blur p {
        width: 100%;
        padding-top: 20px;
        position: relative;
        left: 80px;
        margin: 0 auto;
        line-height: 1.8em;
        top: 100px; }
      #info .hybrid-bite .blur img {
        border-radius: 50%;
        position: relative;
        right: 800px;
        height: 300px;
        -webkit-box-shadow: 0 0px 20px 1px #4A0E50;
        -moz-box-shadow: 0 0px 20px 1px #4A0E50;
        box-shadow: 0 0px 20px 1px #4A0E50; }
      #info .hybrid-bite .blur .btn-purchase {
        position: relative;
        top: 135px;
        right: 60px;
        outline: none; }
        #info .hybrid-bite .blur .btn-purchase .btn-main {
          background: #F8F8FF;
          color: #8A3985;
          font-size: 22px;
          font-weight: 700;
          border-radius: 5px;
          height: 50px;
          width: 200px;
          cursor: pointer;
          outline: none; }
          #info .hybrid-bite .blur .btn-purchase .btn-main .btn-main:focus {
            outline: none;
            border: none; }

#order-cart {
  background: #F8F8FF;
  color: #8A3985;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 50px 0px 50px 0px; }
  #order-cart h1 {
    padding: 20px; }
  #order-cart .shopbox {
    height: 100%;
    width: 100%;
    background: #ccc;
    padding: 40px; }
    #order-cart .shopbox .shopcart {
      height: 400px;
      width: 75%;
      margin: 0 auto;
      background: #eee; }

#about {
  height: 100%;
  width: 100%;
  background: #4A0E50; }
  #about h1 {
    text-align: center;
    color: #fff;
    padding: 20px 0 20px 0; }
  #about #container {
    height: 100%;
    width: 100%;
    background: #F8F8FF;
    color: #4A0E50;
    padding: 40px 20px 40px 20px;
    overflow: hidden; }
    #about #container img {
      height: 400px;
      float: left;
      border: solid 2px #e3e3e3;
      border-radius: 1.5%; }
    #about #container .abt-content {
      padding: 0px 25px 0px 25px;
      text-align: justify;
      font-size: 22px;
      line-height: 1.5em;
      overflow: hidden; }
      #about #container .abt-content p {
        padding-bottom: 20px; }
    #about #container .founder-info {
      float: left;
      text-align: center;
      width: 31%;
      border-left: solid #8A3985 3px;
      border-right: solid #8A3985 3px;
      padding: 20px; }
      #about #container .founder-info a {
        display: block;
        text-decoration: none; }

#merch {
  height: 100%;
  width: 100%;
  background: #F8F8FF; }
  #merch h1 {
    text-align: center;
    color: #4A0E50;
    padding: 30px; }
  #merch .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    background: #F8F8FF;
    padding: 50px;
    height: auto;
    width: 100%;
    margin: 0 auto; }
    #merch .grid .shop-item {
      background: #F8F8FF;
      padding: 15px;
      height: 400px;
      width: auto;
      text-align: center;
      color: #4A0E50;
      -webkit-box-shadow: 0 0px 20px 1px #4A0E50;
      -moz-box-shadow: 0 0px 20px 1px #4A0E50;
      box-shadow: 0 0px 20px 1px #4A0E50; }
      #merch .grid .shop-item img {
        height: 300px;
        width: 300px;
        margin: 0 auto;
        border: 2px solid #8A3985; }
        #merch .grid .shop-item img h3 {
          padding: 10px; }
        #merch .grid .shop-item img p {
          height: 100%;
          text-align: center;
          padding: 5px; }
