@import 'variables';
@import 'footer';
@import 'header';
@import 'shopcart';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    height: 100%
}

.container {
    height: 100%;
    margin: 10px;
}

#showcase {
    height: 400px;
    background: $logoPurple;
    box-shadow: 0px 2px 0px  $darkPurple;
    #help-bites {
        color: $ghostWhite;
        font-size: 60px;
        position: relative;
        top: 180px;
        overflow: hidden;
        margin-left: 40px;
        text-shadow: 2px 3px 5px $darkPurple; 
    }
    #help-tag {
        color: $ghostWhite;
        position: relative;
        top: 210px;
        margin-left: 50px;
        font-size: 22px;
        text-shadow: 2px 3px 5px $darkPurple;
    }
    #help-img {
        border-radius: 50%;
        float: right;
        position: relative;
        bottom: 60px;
        right: 50px;
        height: 80%;
        @include box-shadow;
    }
}

#hero {
    height: 100%;
    width: 100%;
    .hero-1 {
        height: 40px;
        background: $darkPurple;
        box-shadow: 0px 2px 0px  $darkPurple;
    }  
}
.title {
    height: 100%;
    background: $ghostWhite;
    h1 {
        color: $darkPurple;
        font-size: 36px;
        line-height: 1.5;
        text-align: center;
        padding-top: 100px;
        #love {
            color: $logoBurgundy;
            font-size: 55px;
        }
    }
}
.boxes {
    padding: 80px 0 20px 0;
    text-align: center;
    background: $ghostWhite;
    .card {
        height: 350px;
        width: 350px;
        background: #fff;
        padding: 0 10px 0 10px;
        overflow: hidden;
        display: inline-block;
        margin: 30px;
        @include box-shadow;
        .circ-decor {
            height: 120px;
            width: 120px;
            background-color: $logoPurple;
            border-radius: 50%;
            position: relative;
            margin: 0 auto;
            bottom: 70px;
            padding: 0;
        }
        h3 {
            color: $darkPurple;
            font-size: 1.8em;
        }
        .line-break {
            border-bottom: 2px solid $logoPurple;
            width: 100px;
            margin: 0 auto;
            padding-top: 25px;
        }
        .card-text {
            color: $navBrown;
            font-weight: bold;
            font-size: 1.3em;
            margin-top: 10px;
            padding-bottom: 10px;
        }
    }
}

#info {
    height: 100%;
    width: 100%;
    background: $ghostWhite;
    padding: 150px 0 150px 0;
    .original-bite {
        background: $logoPurple;
        color: #fff;
        position: relative;       
        z-index: 1;     
        width: 100%;
        &:before,
        &:after {
            content: '';
            background: inherit;
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden;
        }
        &:before {
            top: 0;
            transform: skewY(1.5deg);
            transform-origin: 100% 0;
        }
        
        &:after {
            bottom: 0;
            transform: skewY(-1.5deg);
            transform-origin: 100%;
        }
        .blur {
            display: flex;
            text-align: center;
            h1 {
                padding-top: 40px;
                text-align: center;
                width: 100%;
                font-size: 36px;
                position: relative;
                left: 500px;
            }
        p {
            width: 100%;
            padding-top: 20px;
            position: relative;
            left: 80px;
            margin: 0 auto;
            line-height: 1.8em;
            top: 100px;
        } 
        img {
            border-radius: 50%;
            position: relative;
            right: 800px;
            height: 300px;
            // margin-top: 30px;
            @include box-shadow;
         }
        .btn-purchase {
            position: relative;
            top: 135px;
            right: 60px;
            outline: none;
            .btn-main {
                background: $ghostWhite;
                color: $logoPurple;
                font-size: 22px;
                font-weight: 700;
                border-radius: 5px;
                height: 50px;
                width: 200px;
                cursor: pointer;
                outline: none;
                .btn-main:focus {
                    outline: none;
                    border: none;
                }
            }
        }
    }
 }
    
 .athletic-bite {
    background: $logoBurgundy;
    color: #fff;
    position: relative;
    margin-top: 80px;       
    z-index: 0;
    width: 100%;
    &:before,
    &:after {
        content: '';
        background: inherit;
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden;
    }
    &:before {
        top: 0;
        transform: skewY(-1.5deg);
        transform-origin: 0 100%;
    }
    
    &:after {
        bottom: 0;
        transform: skewY(1.5deg);
        transform-origin: 0;
    }
    .blur {
        display: flex;
        text-align: center;
        h1 {
            padding-top: 40px;
            text-align: center;
            width: 100%;
            font-size: 36px;
            position: relative;
            left: 500px;
            // padding: 30px 0px 0px 30px;
        }
        p {
            width: 100%;
            padding-top: 20px;
            position: relative;
            left: 75px;
            // line-height: 1.8em;
            top: 100px;
            margin: 0 auto;
        } 
        img {
            border-radius: 50%;
            position: relative;
            left: 165px;
            height: 300px;
            @include box-shadow;
        }
        .btn-purchase {
            position: relative;
            top: 135px;
            right: 1080px;
            .btn-main {
                background: $ghostWhite;
                color: $logoBurgundy;
                font-size: 22px;
                font-weight: 700;
                border-radius: 5px;
                height: 50px;
                width: 200px;
                cursor: pointer;
                outline: none;
                .btn-main:focus {
                    outline: none;
                    border: none;
                }
            }
        }
    }
 }
 .hybrid-bite {
    background: $navBrown;
    color: #fff;
    position: relative;       
    z-index: 1;     
    width: 100%;
    margin-top: 80px; 
    &:before,
    &:after {
        content: '';
        background: inherit;
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden;
    }
    &:before {
        top: 0;
        transform: skewY(1.5deg);
        transform-origin: 100% 0;
    }
    
    &:after {
        bottom: 0;
        transform: skewY(-1.5deg);
        transform-origin: 100%;
    }
    .blur {
        display: flex;
        text-align: center;
        h1 {
            padding-top: 40px;
            text-align: center;
            width: 100%;
            font-size: 36px;
            position: relative;
            left: 500px;
        }
    p {
        width: 100%;
        padding-top: 20px;
        position: relative;
        left: 80px;
        margin: 0 auto;
        line-height: 1.8em;
        top: 100px;
    } 
    img {
        border-radius: 50%;
        position: relative;
        right: 800px;
        height: 300px;
        // margin-top: 30px;
        @include box-shadow;
     }
    .btn-purchase {
        position: relative;
        top: 135px;
        right: 60px;
        outline: none;
        .btn-main {
            background: $ghostWhite;
            color: $logoPurple;
            font-size: 22px;
            font-weight: 700;
            border-radius: 5px;
            height: 50px;
            width: 200px;
            cursor: pointer;
            outline: none;
            .btn-main:focus {
                outline: none;
                border: none;
            }
        }
    }
}
}
}
#order-cart {
    background: $ghostWhite;
    color: $logoPurple;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 50px 0px 50px 0px;
    h1 {
        padding: 20px;
    }
    .shopbox {
        height: 100%;
        width: 100%;
        background: #ccc;
        padding: 40px;
        .shopcart {
            height: 400px;
            width: 75%;
            margin: 0 auto;
            
            background: #eee;
        }
    }
}

// ABOUT PAGE //

#about {
    height: 100%;
    width: 100%;
    background: $darkPurple;
    h1 {
        text-align: center;
        color: #fff;
        padding: 20px 0 20px 0;
    }
    #container {
        height: 100%;
        width: 100%;
        background: $ghostWhite;
        color: $darkPurple;
        padding: 40px 20px 40px 20px;
        overflow: hidden;
        img{
            height: 400px;
            float: left;
            border: solid 2px #e3e3e3;
            border-radius: 1.5%;
        }
        .abt-content {
            padding: 0px 25px 0px 25px;
            text-align: justify;
            font-size: 22px; 
            line-height: 1.5em;
            overflow: hidden;
            p {
                padding-bottom: 20px;
            }
        }
        .founder-info {
            float: left;
            text-align: center;
            width: 31%;
            border-left: solid $logoPurple 3px;
            border-right: solid $logoPurple 3px;
            padding: 20px;        
            a {
                display: block;
                text-decoration: none;
            }
        }
    }
    
}

// SHOP PAGE //
#merch {
    height: 100%;
    width: 100%;
    background: $ghostWhite;
    h1 {
        text-align: center;
        color: $darkPurple;
        padding: 30px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        background: $ghostWhite;
        padding: 50px;
        height: auto;
        width: 100%;
        margin: 0 auto;
        .shop-item {
            background: $ghostWhite;
            padding: 15px;
            height: 400px;
            width: auto;
            text-align: center;
            color: $darkPurple;
            @include box-shadow;
            img {
                height: 300px;
                width: 300px;
                // padding: 10px;
                margin: 0 auto;
                border: 2px solid $logoPurple;
                // background: blue;
                h3 {
                    padding: 10px;
                }
                p {
                    height: 100%;
                    text-align: center;
                    padding: 5px;
                }
            }
        }
    }
}

